body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    color: #495d64;
    overflow-x: auto;
    word-break: break-all;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important
}
body, ul, li, h2, h3, ul, ol, li, p, dl, dt, dd {
    margin: 0;
    padding: 0
}
li {
    list-style-type: none;
}
/*
滚动条样式
*/
::-webkit-scrollbar {  
  width: 14px;  
  height: 14px;  
}  
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 5px solid transparent;  
}  
  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-corner {  
  background: transparent;  
}

.container {
    width: 100%;
    height: 100%;
}
.formSignIn {
    width: 300px;
    height: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    border: 1px solid #ccc;
}
.formSignIn h2 ,.userName ,.passWord {
    padding-left: 50px;
    padding-top: 20px;
}
.demoSignIn {
    margin: 20px 0 0 50px;
}
.chatPage {
    display: none;
}
.session {
    width: 580px;
    height: auto;
    padding: 20px 0 50px 20px;
}
.chatInfo {
    width: 580px;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 20px;
}
.chatInfo h2 {
    width: 100%;
    height: 40px;
    margin: 0;
    background: #00a5ff;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.chatInfo h2.recentContactTitle {
    position: fixed;
    width: 180px;
}
.recentContactList {
    width: 180px;
    height: 400px;
    float: left;
    background: #f4f8fc;
}
.recentContactList .recentContactInfo {
    width: 180px;
    height: 359px;
    margin-top: 40px;
    overflow: auto;
}
.recentContactList ul {
    overflow: hidden;
}
.chooseChat {
    background: #3680ca;
}
.recentContactList li {
    height: 70px;
    width: 100%;
    line-height: 70px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #e1e9f1;
    cursor: pointer;
}
.recentContactList li.talking {
    background-color: #d8edfa;
}
.recentContactList li p {
    width: 90px;
    height: 35px;
    line-height: 35px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.targetPortraitUri {
    width: 40px;
    height: 40px;
    float: left;
    margin: 15px 0 15px 15px;
    border-radius: 20px;
}
.targetName {
    font-size: 18px;
    color: #000;
}
.targetLastMsg {
    font-size: 14px;
}
.recentContactList li .unreadMsgNum {
    display: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    background: #ff0000;
}
.chatDialog {
    width: 398px;
    height: 400px;
    border-left: 1px solid #ccc; 
    float: left;
    background-image: url(../public/background.jpg);
    background-size: 400px 400px; 
}
.chatMessages {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ccc;
    background: #f9fbfd;
    overflow: auto;
}
.chatMessages li {
    line-height: 30px;
    padding: 5px 20px;
}

.chatMessages li p.checkMoreMsg {
    text-align: center;
    cursor: pointer;
}

.chatMessages li p.checkMoreMsg:hover{
    color: #00a5ff;
}

.chatMessages li img.chatAvatar {
    width: 40px;
    height: auto;
    border-radius: 20px;
    float: left;
}

.chatMessages li p.chatSender {
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.chatMessages li p.chatSenderInfo {
    margin-left: 50px;
    clear: both;
}
.inputMsg {
    width: 100%;
    height: auto;
}
.inputMsg textarea {
    width: 336px;
    height: 104px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
    resize : none;
    float: left;
}
.sendBtn {
    width: 50px;
    height: 109px;
    color: #09f;
    background: #fff;
    border: none;
    outline: none;
    clear: both;
    cursor: pointer;
}